venv/
airflow_env/
__pycache__/
*.pyc

airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/airflow-webserver.pid
airflow/logs/

dataset/bronze/*
dataset/silver/*
dataset/gold/*

.vscode/
.idea/
.DS_Store
*.log

.env